:ruby
  data = data || collection
  if defined?(include_show).nil?
    include_show = true
  end
  if defined?(include_meme).nil?
    include_meme = true
  end
  owner ||= nil
  ajax ||= nil
  title ||= nil
  datatable_options = {
  }

%table#notes.datatable.display{:class => ('ajax' if ajax), 'data-datatable-options' => datatable_options.to_json }
  %thead
    %tr
      - if include_show
        %th= Note.human_attribute_name :show
      - if include_meme
        %th= Note.human_attribute_name :meme
      %th= Note.human_attribute_name :name
      

  %tbody
    - unless ajax
      - data.each do |item|
        %tr
          - if include_show
            %td.bold= item.show.number
          - if include_meme
            %td.bold= item.meme.name
          %td.note
            = link_to_if(item.url?,item.name,item.url, :class=>'shownote', :target => '_blank')
            .description= item.description
