:ruby
  data = data || collection
  if defined?(include_meme).nil?
    include_meme = true
  end
  owner ||= nil
  ajax ||= nil
  title ||= nil
  datatable_options = {
  }

%table#notes.datatable.display{:class => ('ajax' if ajax), 'data-datatable-options' => datatable_options.to_json }
  %thead
    %tr
      %th= resource_class.human_attribute_name :show
      - if include_meme
        %th= resource_class.human_attribute_name :meme
      %th= resource_class.human_attribute_name :name
      

  %tbody
    - unless ajax
      - for item in data do
        %tr
          %td= item.show.number
          - if include_meme
            %td= item.meme.name
          %td= link_to_if(item.url?,item.name,item.url)
