.toolbar
  %h1= t('site.show_title')
.content
  %h2= t('site.short_title')
  %ul.rounded
    %li
      %a.touch_load{'data-url' => top_memes_path, 'data-transition' => 'pop-in'}
        %img.icon.greenbox{ :src => "/images/mobile/tabs/flag.png" }
        = t('stats.top_memes.title', :n => AppConstants.number_of_trending_memes)
        %span.arrow
    %li
      %a.touch_load{'data-url' => memes_path, 'data-transition' => 'slide-left'}
        %img.icon.greenbox{ :src => "/images/mobile/tabs/aim.png" }
        = t('memes.index.title')
        %span.arrow
    %li
      %a.touch_load{'data-url' => shows_path, 'data-transition' => 'slide-left'}
        %img.icon.greenbox{ :src => "/images/mobile/tabs/note.png" }
        = t('shows.index.title')
        %span.arrow
    %li
      %a.touch_load{'data-url' => technoexperts_path}
        %img.icon.greenbox{ :src => "/images/mobile/tabs/info.png" }
        = t('pages.technoexperts.title')
        %span.arrow

  %h2= t('book_of_knowledge')
  = render :partial => 'common/submenu.html', :locals => { :links => bok_links}
  %h2= t('donor.title')
  = render :partial => 'common/submenu.html', :locals => { :links => dedouche_links}
  .clearpanel