
.panel[resource]
  .wrapper
    - if resource.cover_art_url?
      .cover_art= image_tag(resource.cover_art_url)
    %h2= resource.full_title
    - if resource.audio_url?
      .playmedia.control{'data-number' => resource.number}=t(:play)

    %ul.resources
      %li= link_to_if(resource.url?,resource_class.human_attribute_name(:url),resource.url, :target => '_blank')
      %li= link_to_if(resource.show_notes_url?,resource_class.human_attribute_name(:show_notes_url),resource.show_notes_url, :target => '_blank')
      %li= link_to_if(resource.audio_url?,resource_class.human_attribute_name(:audio_url),resource.audio_url, :target => '_blank', :class => 'mp3')
    .resources
      %ul.tabbed_info
        %li{:class=>"selected", 'data-section'=>'show_memes'}= resource_class.human_attribute_name(:memes)
        %li{'data-section'=>'show_notes'}= resource_class.human_attribute_name(:notes)
        - if resource.credits?
          %li{'data-section'=>'show_credits'}= resource_class.human_attribute_name(:credits)
      .section.tabbed_info#show_memes{:style=>"display: block;",:class=>"selected"}
        .chart-container
          .chart{ 'data-url' => stat_show_url(resource,:format => 'json'), 'data-template' => 'donut_basic' }
      .section.tabbed_info#show_notes{:style=>"display: none;"}
        = render :partial => 'notes/table', :locals => { :data => resource.notes.show_meme_note_order, :include_show => false }
      - if resource.credits?
        .section.tabbed_info#show_credits{:style=>"display: none;"}= raw resource.credits
