
.panel[resource]
  .wrapper
    - if resource.cover_art_url?
      .cover_art= image_tag(resource.cover_art_url)
    %h2= resource.full_title
    - if resource.audio_url?
      = button_to "Play", '#', :method => :get, :class => 'load-media', 'data-url' => resource.audio_url, 'data-title' => resource.full_title

    %ul.resources
      %li= link_to_if(resource.url?,resource_class.human_attribute_name(:url),resource.url, :target => '_blank')
      %li= link_to_if(resource.show_notes_url?,resource_class.human_attribute_name(:show_notes_url),resource.show_notes_url, :target => '_blank')
      %li= link_to_if(resource.audio_url?,resource_class.human_attribute_name(:audio_url),resource.audio_url, :target => '_blank', :class => 'mp3')
    - if resource.credits?
      .credits= resource.credits
    %ul.stats
      %li= resource.memes.count
      %li= resource.notes.count
    %h2= t('notes.index.title')
    = render :partial => 'notes/table', :locals => { :data => resource.notes.show_meme_note_order, :include_show => false }