<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @show.code %>
</p>

<p>
  <b>Published:</b>
  <%= @show.published %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
