#footer
  .wrapper
    .panel
      .controls
        = render :partial => 'common/mediaplayer'
        .memes.block
          = render :partial => 'memes/select'
        .levels.block
          = render :partial => 'shows/select'
        .block
          = button_to "TECHNO EXPERTS", root_url, :method => :get, :class => 'page', 'data-url' => root_url
        .cc.block.right
          .wrapper
            %a{:href=>'http://creativecommons.org/licenses/by-sa/3.0/', :target=>'_blank'}
              = image_tag('cc.png', :alt => 'This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.', :class => 'bok menu mtc')
        .book-of-knowledge.block.right
          .wrapper.menu_tip
            = image_tag('bok.png', :alt => t(:book_of_knowledge), :class => 'bok menu mtc')
            = render :partial => 'common/submenu', :locals => { :links => bok_links}

    .left.player.crackpot
      = image_tag('crackpot.png')
    .right.player.buzzkill
      = image_tag('buzzkill.png')

= javascript_include_tag :defaults, :cache => true

:javascript
  jQuery(document).ready(function() {
    NAVD.init({});
  });

= yield :javascript