:ruby
  smart_mobile_device = browser.ios? || browser.android?

#footer
  .wrapper
    .panel
      .controls
        .media#mediawidget
        .memes.block
          = render :partial => 'memes/select'
        .levels.block
          = render :partial => 'shows/select'
        .technoexperts.block
          = link_to t('pages.technoexperts.title'), technoexperts_path, :class => 'pageload control technoexperts'
        .cc.block.right
          .wrapper
            %a{:href=>'http://creativecommons.org/licenses/by-sa/3.0/', :target=>'_blank'}
              = image_tag('cc.png', :alt => 'This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.', :class => 'bok menu mtc')
        .book-of-knowledge.block.right
          .wrapper.menu_tip
            = image_tag('bok.png', :alt => t(:book_of_knowledge), :class => 'bok menu mtc')
            = render :partial => 'common/submenu', :locals => { :links => bok_links}

    .left.player.crackpot
      = image_tag('crackpot.png')
    .right.player.buzzkill
      = image_tag('buzzkill.png')

- if Rails.env.development?
  = javascript_include_tag :jquery_local, :cache => false
- else
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'
= javascript_include_tag :defaults, :cache => false

:javascript
  jQuery(document).ready(function() {
    NAVD.init({
      current_show: #{current_show_context.try(:number)},
      mobile: #{ smart_mobile_device }
    });
  });

= yield :javascript
= insert_ga_script(AppConstants.ga_id)