%title NoAgenda Attack Vector Dashboard
%meta{ :name => "description", :content => "NoAgenda Attack Vector Dashboard" }
= favicon_link_tag
= favicon_link_tag 'icons/favicon48.png', :rel => 'apple-touch-icon', :type => 'image/png'
%meta{ :charset => "UTF-8" }
= csrf_meta_tag
= stylesheet_link_tag "compiled/screen.css", :media => "all"
= javascript_include_tag "modernizr.js"
