!!! 5
%html
  %head
    = render :partial => 'common/head'
  %body{:class => "#{controller_path.split('/').join(' ')} #{params[:action]}"}
    = render :partial => 'common/header'
    #container
      .wrapper#scroller
        #content
          .wrapper
            = yield

    = render :partial => 'common/footer'